/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1a00+33,ff1a00+100 */
background: #ff1a00; /* Old browsers */
background: -moz-linear-gradient(top,  #ff1a00 33%, #ff1a00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff1a00 33%,#ff1a00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff1a00 33%,#ff1a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */

}
body{
    overflow: hidden;
}
nav button{
    background-color:transparent;
    margin: 0.2rem;
    border:none;
    font-size: 1.6rem;
    color: #fff;
}
nav{
    background-color:#ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
list-style-type:none;
margin: 0;
padding: 0
}
nav ul li a{
    display: block;
    padding:0.8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}
/* nav ul li a:hover{
    background-color:rgba(0, 0, 0, 0.4);
    color: #fff;
} */
nav ul li.active a{background-color:rgba(0, 0, 0, 0.2);
color:#fff;}

/* if we put above that code then hover will not work in active class */
nav ul li a:hover{
    background-color:rgba(0, 0, 0, 0.4);
    color: #fff;
}
nav ul.hide{
    display:none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }












